@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

a {
    text-decoration: none;
}

#page-logo {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
}

#main-name {
    font-family: "Poppins";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #6400FF 0%, #BD00FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:20px;
}

#top-bar {
    display: flex;
    justify-content: center;
}

#top-bar-btns {
    display: flex;
    width: 400px;
    justify-content: right;
    align-items: center;
}

#logo-container {
    width:550px;
    display: flex;
    align-items: center;
}

#home-redir {
    color: #1E1E1E;
    font-family: "Poppins";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

#blog-redir {
    color: #1E1E1E;
    font-family: "Poppins";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 70px;
}

#projects-redir {
    color: #1E1E1E;
    font-family: "Poppins";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 70px;
}

#hero-section {
    display: flex;
    justify-content: center;
}

#hero-display {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 950px;
    height: 420px;
    flex-shrink: 0;
    border-radius: 54px;
    background: linear-gradient(180deg, #8F00FF 0%, #BD00FF 100%);
    margin-top: 50px;
    transition: all .5s ease-in-out;
    transform: translate(0,10px);
    opacity: 0;
}

#expand-btn-container {
    display: flex;
    align-items: center;
    justify-content: right;
    visibility: hidden;
    width: 0%;
}

@media screen and (max-width:980px) and (min-width:856px){
    #hero-display {
        width:90%;
    }
    #description-section > div {
        width: 90%;
    }
    #logo-container {
        width:50%;
    }
    #top-bar-btns {
        width:40%;
    }
}

@media screen and (max-width:730px) {
    #hero-display > h1 {
        font-size:60px;
        height:15px;
    }
    #hero-display > h2 {
        font-size:30px;
        margin-left: 25px;
    }
    #hero-btns > a > button {
        width:120px;
        height:50px;
    }
    #hero-btns > a > button > span{
        font-size: 15px;
    }
}

@media screen and (max-width:856px) and (min-width:458px){
    #description-section > div {
        width: 90%;
    }
    #hero-display {
        width:90%;
    }
    #logo-container {
        width:50%;
    }
    #top-bar-btns {
        display: none;
        width:0%;
    }
    #expand-btn-container {
        visibility:visible;
        width: 40%;
    }
}

@media screen and (max-width:458px) {
    #description-section > div{
        width: 90%;
    }
    #hero-display {
        width:90%;
    }
    #logo-container {
        width:50%;
    }
    #main-name {
        font-size: 30px;
    }
    #top-bar-btns {
        display: none;
        width:0%;
    }
    #expand-btn-container {
        visibility:visible;
        width: 40%;
    }
}

#main-title {
    color: #FFF;
    font-family: "Poppins";
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height:25px;
    margin-top: -5px;
    margin-left:20px;
}

#subtitle {
    color: #FFF;
    font-family: "Poppins";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}

#hero-btns {
    display: flex;
    flex-wrap: nowrap;
}

#recent-btn {
    width: 210px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    margin-left: 20px;
    outline: none;
    border: none;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

#recent-btn span {
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #6400FF 0%, #BD00FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .2s all ease-in-out;
}

#recent-btn:hover {
    background-color: #e3e3e3;
}

#blog-btn {
    margin-left: 20px;
    width: 210px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 3px solid #FFF;
    outline: none;
    background: transparent;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

#blog-btn span{
    color: #FFF;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .2s all ease-in-out;
}

#blog-btn:hover {
    border-color: #e3e3e3;
}

#blog-btn:hover > span{
    color: #e3e3e3;
}

#description-section {
    display: flex;
    justify-content: center;
}

#description-container {
    width: 950px;
}

#description-container> h1 {
    color: #1E1E1E;
    font-family: "Poppins";
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    height:50px;
}

.paragraph {
    color: #1E1E1E;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 5px;
}

.paragraph-italic {
    color: #1E1E1E;
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
}

.paragraph-bold-italic {
    color: #1E1E1E;
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
}

.paragraph-bold {
    color: #1E1E1E;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
}

.emphasis {
    background: linear-gradient(180deg, #6400FF 0%, #9400C8 12.04%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
}

@media screen and (max-width:840px) and (min-width:580px) {
    #description-container> h1 {
        font-size: 50px;
    }
    .paragraph {
        font-size: 14px;
    }
}

@media screen and (max-width:580px) {
    #description-container> h1 {
        font-size: 30px;
        height: 20px;
    }
    .paragraph {
        font-size: 14px;
    }
}
